@import (less) './_vars';

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.content{
	padding: 0 10px;

	@media @tablet-strict{
		padding: 0 15px;
	}

	@media @desktop-strict{
		padding: 0 25px;
	}

	@media @large{
		width: 80vw;
		max-width: 1100px;
		margin: 0 auto;
	}
}

.header{
	width: 100%;
	display: block;
	padding-top: 15px;
	margin-bottom: 20px;

	&__link{
		text-decoration: none;
		color: #000;
		outline: none;

		&_active{
			color: #006fc4;
			border-bottom: 1px solid #006fc4;
		}
	}

	@media @desktop{
		margin-top: 15px;
	}

	&__logo{
		width: 100%;

		@media @desktop{
			width: 25%;
			display: inline-block;
		}

		&_image{
			width: 70%;
			float: left;
			margin-bottom: 20px;
			max-width: 300px;

			&-i{
				width: 100%;
			}

			@media @desktop{
				width: 100%;
				max-width: none;
			}
		}

		&_burger{
			width: 50px;
			float: right;
			height: 50px;

			@media @tablet-strict{
				width: 65px;
				height: 65px;

			}

			@media @desktop{
				display: none;
			}

			&-line{
				width: 80%;
				height: 4px;
				background-color: #000;
				display: block;
				margin: 0 auto;
				margin-top: 50%;
				transform: translateY(-2px);

				&::before,
				&::after{
					content: '';
					display: block;
					height: 4px;
					background-color: #000;
				}

				&::before{
					transform: translateY(14px);

					@media @tablet-strict{
						transform: translateY(16px);
					}
				}

				&::after{
					transform: translateY(-18px);

					@media @tablet-strict{
						transform: translateY(-20px);
					}
				}
			}
		}
	}

	&__nav{
		width: 100%;
		transition: .5s;
		transform-origin: top;
		transform: scaleY(0);
		height: 0;
		clear: both;
		opacity: 0;

		@media @desktop{
			transform: scaleY(1);
			opacity: 1;
			width: 70%;
			float: right;
		}

		&_item{
			border-bottom: 1px solid #222;
			line-height: 35px;
			text-align: center;
			font-size: 17px;
			cursor: pointer;

			&-last{
				border: none;
			}

			@media @desktop{
				display: inline-block;
				width: 19%;
				border: none;
			}
		}

		&_active{
			height: auto;
			opacity: 1;
			transform: scaleY(1);
		}

		&_search{
			width: 100%;

			&-i{
				display: inline-block;
			}

			&-en{
				width: 50%;
				border-right: 1px solid #000;
				float: left;
				height: 35px;
				margin-top: 2px;

				&-i{
					border: 1px solid #000;
					width: 45px;
					height: 25px;
					line-height: 25px;
					margin-top: 3px;
					float: right;
					margin-right: 5px;

					@media @desktop{
						margin-top: 5px;
						margin-right: 10px;
					}
				}
			}

			&-img{
				width: 45%;
				height: 30px;
				margin-top: 2px;

				&-i{
					float: left;
					margin-left: 5px;
					margin-top: 3px;

					@media @desktop{
						margin-top: 5px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}