.about {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.about__title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.about__description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 27px;
  font-weight: normal;
  line-height: 1.5;
}
.bImg1 {
  display: inline-block;
  float: left;
  margin: 79px 0px 0px 23px;
  transition: 0.3s all;
}
.bImg1:hover {
  cursor: pointer;
  opacity: 0.5;
}
.bImg1 > div {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.bImg2 {
  display: inline-block;
  margin: 77px 88px 0px 0px;
  transition: 0.3s all;
}
.bImg2:hover {
  cursor: pointer;
  opacity: 0.5;
}
.bImg2 > div {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.bImg3 {
  display: inline-block;
  float: right;
  margin: 77px 115px 0px 0px;
  transition: 0.3s all;
}
.bImg3:hover {
  cursor: pointer;
  opacity: 0.5;
}
.bImg3 > div {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.development {
  width: 100%;
  max-width: 960px;
  background-color: #fbfbfb;
  margin: 0 auto;
  text-align: center;
}
.development__stand-img {
  width: 250px;
}
.development__umk80-img {
  width: 200px;
}
.development__notebook-img {
  width: 250px;
}
.development__title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}
.development__item {
  padding: 10px 0;
  line-height: 1.2;
}
.development__content {
  border: 10px solid #e2e2e2;
  width: 100%;
  max-width: 714px;
  margin: 80px auto 0;
  position: relative;
}
.development__stand {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.development__umk80 {
  position: absolute;
  z-index: 2;
  top: -80px;
  right: -100px;
}
.development__notebook {
  position: absolute;
  z-index: 2;
  bottom: -80px;
  right: -100px;
}
.development__text {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 40px 150px;
}
.configurator__content {
  width: 100%;
  max-width: 960px;
  margin: 50px auto 0;
  text-align: center;
}
.configurator__images-wrap {
  display: block;
  font-size: 0;
  height: 200px;
}
.configurator__images-item {
  display: inline-block;
  width: calc(20%);
  vertical-align: top;
}
.configurator__images-item:nth-child(1),
.configurator__images-item:nth-child(5) {
  padding-top: 100px;
}
.configurator__images-item:nth-child(2),
.configurator__images-item:nth-child(4) {
  padding-top: 50px;
}
.configurator__title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.configurator__text {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 30px;
  line-height: 1.5;
  width: 100%;
}
#contact {
  display: inline-block;
  margin-top: 175px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.main-contact__text {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#btn5 {
  border: 1px solid #b2b2b2;
  padding: 17px 95px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #006fc4;
  cursor: pointer;
  margin-top: 50px;
}
.about__content {
  width: 100%;
  max-width: 960px;
  font-size: 0;
  padding: 40px 0;
}
.about__item {
  display: inline-block;
  width: calc(33.33333333%);
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}
.about__item-img {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.about__item-label {
  display: block;
}
.about__link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.intermediate-block {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  text-align: center;
  padding-top: 90px;
}
.intermediate-block__img {
  max-width: 100%;
}
.intermediate-block__title {
  font-size: 24px;
  margin-top: -35px;
  font-weight: normal;
}
.intermediate-block__btn {
  display: inline-block;
  margin-top: 0!important;
  margin-bottom: 20px;
}
.configurator {
  background-color: #fbfbfb;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.configurator__title {
  display: block;
}
.main-contact {
  width: 100%;
  position: relative;
  background: url('../../images/liane-metzler.png') no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.main-contact__content {
  width: 100%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  padding: 25px 25px;
  box-sizing: border-box;
}
@media (min-width: 1025px) {
  .about__title {
    margin-top: 80px;
  }
}
/*
 TABLET
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    margin-top: 30px;
  }
  .development__content {
    max-width: 85%;
    margin-bottom: 40px;
  }
  .development__stand-img {
    width: 100px;
  }
  .development__umk80-img {
    width: 100px;
  }
  .development__notebook-img {
    width: 150px;
  }
  .development__text {
    padding: 30px 80px;
  }
  #vibro2 {
    right: -50px;
  }
  #equip {
    right: -50px;
  }
  .configurator {
    text-align: center;
  }
  .configurator__content {
    display: inline-block;
  }
  .configurator__images-wrap {
    margin-bottom: -25px;
  }
  .configurator__btn {
    margin-top: 50px;
  }
  .intermediate-block {
    padding: 45px 25px;
  }
}
/*
 MOBILE
*/
@media (max-width: 767px) {
  .about {
    margin-top: 20px;
  }
  .about__description {
    font-size: 13px;
    margin-top: 15px;
  }
  .about__title {
    font-size: 18px;
  }
  .about__content {
    padding: 0 25px;
  }
  .about__item {
    width: 100%;
    display: block;
    margin: 20px 0;
  }
  .about__item-label {
    font-size: 14px;
  }
  .bImg1,
  .bImg2,
  .bImg3 {
    display: block;
    margin: 20px auto 0;
    float: none;
    text-align: center;
  }
  .development__content {
    border: 5px solid #e2e2e2;
    max-width: 100%;
    box-sizing: border-box;
    margin: 25px auto 50px;
  }
  .development__stand {
    transform: none;
    bottom: -30px;
    top: auto;
    left: 0;
  }
  .development__stand-img {
    width: 75px;
  }
  .development__umk80 {
    top: -70px;
    right: 0;
  }
  .development__umk80-img {
    width: 75px;
  }
  .development__notebook {
    bottom: -40px;
    right: 0;
  }
  .development__notebook-img {
    width: 100px;
  }
  .development__text {
    padding: 25px 25px 75px;
  }
  .development__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .development__item {
    font-size: 13px;
    padding: 5px 0;
  }
  .intermediate-block__title {
    font-size: 18px;
  }
  .configurator__images-wrap {
    display: inline-block;
    height: auto;
  }
  .configurator__images-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .configurator__icon {
    max-width: 100%;
  }
  .configurator__images-item:nth-child(1),
  .configurator__images-item:nth-child(5) {
    padding-top: 50px;
  }
  .configurator__images-item:nth-child(2),
  .configurator__images-item:nth-child(4) {
    padding-top: 25px;
  }
  .configurator__title {
    font-size: 18px;
  }
  .configurator__text {
    padding: 0 25px;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
}
